<div class="page-container" fxFlexFill fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z8" *ngIf="!isTicketEntered">

    <mat-card-title>Введите номер вашего билета</mat-card-title>

    <form [formGroup]="formGroup" (ngSubmit)="sendTicket()">
      <mat-card-content>
        <mat-form-field class="input-block" appearance="outline">
          <mat-label>Номер билета</mat-label>
          <input type="text" matInput placeholder="" [formControl]="ticket_number" required>
          <mat-error *ngIf="ticket_number.invalid && ticket_number.errors.required">Это поле обязательно</mat-error>
          <mat-error *ngIf="ticket_number.invalid && ticket_number.errors.pattern">Неверный формат билета</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions fxLayoutAlign="end center">
        <button mat-raised-button color="primary" [disabled]="!formGroup.valid">Ввести</button>
      </mat-card-actions>
    </form>

  </mat-card>

  <mat-card class="mat-elevation-z8" *ngIf="isTicketEntered">

    <mat-card-title>Вы выиграли! Поздравляем!</mat-card-title>

    <mat-card-content>
      Далее вам необходимо...
    </mat-card-content>
  </mat-card>
</div>

